<!-- {{/if}} -->

<form class="Squawk extends Model post">
    <button href="/" class="button is-info" type="submit">Post</button>
    <div class="form-group">
        <label for="Squawk">Squawk:</label>
        <input class="form-input" type="text" id="Squawk" name="Post" />
    </div>
</form>
<script src="js/createPost.js"></script>