nav {
    background-color: #20b2aa;
}

.nav-buttons {
    display: inline-flex;
    position: absolute;
    right: 0px;
    top: 30px;
}

#logo {
    display: inline-block;
    width: 200px;
    border-radius: 50%;
}